{% extends "layouts/main-v2.html" %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "../case-list-recorded"
  }) }}
{% endblock %}


{% block content %}

<!--- CASE HEADER -->

<div class="govuk-form-group">
  <strong class="govuk-tag govuk-tag--purple govuk-!-margin-bottom-3">Recorded</strong>
  <h1 class="govuk-heading-xl">{{ data['name'] or "Keisha Brown" }}</h1>
  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Client's legal aid number:<span class="govuk-body-l"> LA-100194</span></h2>
  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Reference number:<span class="govuk-body-l"> CW-103041</span></h2>
  <h2 class="govuk-heading-m">Recorded on:<span class="govuk-body-l"> 15 Jan 2026</span></h2>

  <div class="govuk-button-group">
    <a href="#" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button" data-govuk-button-init="">
      Download as a PDF
    </a>
    <!-- <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" data-govuk-button-init="">
      Generate legal help form
    </button> -->
  </div>
</div>

<!-- SUB-NAV -->

{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

<nav class="moj-sub-navigation" aria-label="Sub navigation">

  <ul class="moj-sub-navigation__list">
    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link" href="./client-details">Client and case details</a>
    </li>

    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link" href="./means">Means assessment</a>
    </li>

    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link" aria-current="page" href="./evidence">Evidence and declaration</a>
    </li>
  </ul>

</nav>

<!-- CONTENT -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m govuk-!-margin-bottom-5">Evidence and declaration</h2>


      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Evidence of income
          </h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Employment (PAYE) income
              </dt>
              <dd class="govuk-summary-list__value">
                <p>Bank statement</p>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Other income
              </dt>
              <dd class="govuk-summary-list__value">
                <p>Student loan letter</p>
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Evidence of expenditure and capital
          </h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Housing costs
              </dt>
              <dd class="govuk-summary-list__value">
                <p>No evidence required</p>
              </dd>
            </div>
            
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Capital
              </dt>
              <dd class="govuk-summary-list__value">
                <p>No evidence required</p>
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
          Declaration
          </h2>
        </div>
        <div class="govuk-summary-card__content">
          <p>Declaration signed by client on 15 Jan 2026</p>
        </div>
      </div>

    </div>
  </div>  

{% endblock %}

