{% extends "layouts/main-v2.html" %}


{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <span class="govuk-caption-l">Evidence</span>
      <h1 class="govuk-heading-l">
        Check your answers
      </h1>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Evidence of your client's financial eligibility
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="./do-they-have-evidence">Change<span class="govuk-visually-hidden"> whether they have evidence of financial eligibility</span></a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Income
          </dt>
          <dd class="govuk-summary-list__value">
            <p><strong>Employed (PAYE) income</strong><br>
            Wage slips</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="./evidence-income">Change<span class="govuk-visually-hidden"> evidence of employment income</span></a>
          </dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do you have evidence of expenditure?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="./do-they-have-evidence-expenditure">Change<span class="govuk-visually-hidden"> whether they have evidence of expenditure</span></a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Expenditure
          </dt>
          <dd class="govuk-summary-list__value">
            <p><strong>Income Tax and National Insurance</strong><br>
            Wage slips</p>
            <p><strong>Housing Costs</strong><br>
            Bank statement</p>
            <p><strong>Child Care Costs</strong><br>
            Bank statement</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="./evidence-capital">Change<span class="govuk-visually-hidden"> evidence of capital</span></a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do you have evidence of capital?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="./do-they-have-evidence-capital">Change<span class="govuk-visually-hidden"> whether they have evidence of capital</span></a>
          </dd>
        </div>

        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Capital
          </dt>
          <dd class="govuk-summary-list__value">
            Bank statement
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="./evidence-capital">Change<span class="govuk-visually-hidden"> evidence of capital</span></a>
          </dd>
        </div> -->
      </dl>


      <!-- <form method="post">
        {{ govukButton({
          text: "Save and continue"
        }) }}
      </form> -->

      <!-- TEMP -->
      <div class="govuk-button-group ">
        <a href="task-list-temp-evidenceDone" class="govuk-button govuk-!-margin-top-5">Save and continue</a>
        <a href="case-list" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Save and return later
        </a>
      </div>


    </div>
  </div>
{% endblock %}
