{% extends "layouts/main-v2.html" %}


{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <span class="govuk-caption-l">Evidence</span>
      <h1 class="govuk-heading-l">
        Check your answers
      </h1>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Evidence of your client's financial eligibility
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="./do-they-have-evidence">Change<span class="govuk-visually-hidden"> whether they have evidence</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reason for not having evidence
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['no-evidence'] or "The personal circumstances of the client make it not possible to get evidence at any point in the case" }}
            <br>
            {{ data['noEvidenceDetails'] or "Lorem ipsum" }}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="./evidence-income">Change<span class="govuk-visually-hidden"> evidence of other income</span></a>
          </dd>
        </div>
      </dl>


      <!-- <form method="post">
        {{ govukButton({
          text: "Save and continue"
        }) }}
      </form> -->

      <!-- TEMP -->
      <div class="govuk-button-group ">
        <a href="task-list-temp-evidenceDone" class="govuk-button govuk-!-margin-top-5">Save and continue</a>
        <a href="case-list" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Save and return later
        </a>
      </div>


    </div>
  </div>
{% endblock %}
