{% extends "layouts/main-v2.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Client declaration</span>
      <h1 class="govuk-heading-l">
        Confirm the following
      </h1>

      <!-- NON MEANS -->
      {% if (data['cw1pl'] == "True") %}

      <p>{{ data['first-name'] or "Joe" }} {{ data['last-name'] or "Bloggs" }} agrees that:</p>

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
        <!-- <li>they’ve instructed me, the provider, to act on their behalf</li> -->
        <li>they’ve read the <a class="govuk-link" href="#">Legal Aid Agency privacy notice (opens in a new window or tab)</a> and understand how their information will be used</li>
        <li>the information they've given is true to the best of their knowledge and they've not withheld any information</li>
        </ul>

      <div class="govuk-warning-text govuk-!-margin-bottom-2">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">If they tell you anything false or misleading or leave anything out: </p>
          <ul class="govuk-list govuk-list--bullet govuk-!-font-weight-bold">
            <li>they may be prosecuted</li>
            <li>their legal aid may be taken away and they may have to pay back all their legal fees
          </ul>
        </strong>
      </div>

      {% else %}

      <!-- MEANS -->

      <p>{{ data['first-name'] or "Joe" }} {{ data['last-name'] or "Bloggs" }} agrees that:</p>

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
        <li>they’ve read the <a class="govuk-link" href="#">Legal Aid Agency privacy notice (opens in a new window or tab)</a> and understand how their information will be used</li>
        <li>the information they've given is true to the best of their knowledge and they've not withheld any information</li>
        <li>this is a true statement of all their and their partner’s income and assets in the UK and abroad</li> 
        <li>they'll report any changes to their or their partner’s financial situation immediately</li>
        <li>they must co-operate fully and immediately with any enquiry into their financial circumstances and they’ll provide more evidence if their solicitor or the LAA ask</li>
        <li>we can check their details with bank and credit reference agencies</li>
        <li>we can share their information with local government bodies and authorities and other government departments such as HMRC, DWP and the Home Office</li>
      </ul>

      <div class="govuk-warning-text govuk-!-margin-bottom-2">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">If they tell you anything false or misleading or leave anything out: </p>
          <ul class="govuk-list govuk-list--bullet govuk-!-font-weight-bold">
            <li>they may be prosecuted</li>
            <li>their legal aid may be taken away and they may have to pay back all their legal fees
          </ul>
        </strong>
      </div>

      {% endif %}

      <!-- <form method="post">
        {{ govukButton({
          text: "Save and continue"
        }) }}
      </form> -->

      <!-- TEMP -->
      <div class="govuk-button-group ">
        <a href="client-declaration-application-summary" class="govuk-button">
          Confirm and continue
        </a>
        <a href="case-list" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Save and return later
        </a>
      </div>      

    </div>
  </div>

{% endblock %}
