{% extends "layouts/main-v2.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Evidence</span>
      <h1 class="govuk-heading-l">Evidence of your client’s capital</h1>

      <!-- <p class="govuk-body">You only need to gather evidence of your client's capital if they are close to the threshold and there is a risk of them being ineligible. <a href="#">Check the risk-based evidence guidelines (opens in a new window or tab)</a>.</p> -->

      <p class="govuk-hint">Select all that apply.</p>

      <form method="post">

      <div class="govuk-form-group">
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="capital-11" name="capital" type="checkbox" value="Bank statement">
            <label class="govuk-label govuk-checkboxes__label" for="capital-11">
              Bank statement
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="capital-12" name="capital" type="checkbox" value="National savings certificate or passbook">
            <label class="govuk-label govuk-checkboxes__label" for="capital-12">
              National savings certificate or passbook
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="capital-13" name="capital" type="checkbox" value="Premium bonds statement">
            <label class="govuk-label govuk-checkboxes__label" for="capital-13">
              Premium bonds statement
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="capital-14" name="capital" type="checkbox" value="Share certificate">
            <label class="govuk-label govuk-checkboxes__label" for="capital-14">
              Share certificate
            </label>
          </div>


        </div>
      </div>

      <div class="govuk-button-group ">
        <button type="submit" class="govuk-button govuk-!-margin-top-2" data-module="govuk-button">
          Continue
        </button>
        <a href="case-list" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Save and return later
        </a>
      </div>

      </form>

    </div>
  </div>

{% endblock %}
