{% extends "layouts/main-v2.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Client and case details</span>
      <!-- <h1 class="govuk-heading-l">What evidence does your client have to prove this case is in scope?</h1> -->
      <h1 class="govuk-heading-l">How can you prove this case is in scope?</h1>


      <p class="govuk-body">Legal aid is only available for these proceedings under paragraphs 12 and 13 of Part 1, Schedule 1 of the Legal Aid Sentencing and Punishment of Offenders Act 2012 if the <a href="#">evidence requirements (opens in new window or tab)</a> set out in Schedule 1, regulation 33 and Schedule 2, regulation 34 of the Civil Legal Aid (Procedures) Regulations and guidance are satisfied.</p>

      <!-- <p class="govuk-hint">Select all that apply.</p> -->
      
      <form method="post" action="family-private-evidence-answer">

      <!-- <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              Domestic abuse (Schedule 1) 
            </h2>
          </legend>

          <div class="govuk-checkboxes" data-module="govuk-checkboxes">

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="scoping-evidence-1" name="scoping-evidence" type="checkbox" value="A finding of fact in the family courts of domestic abuse by the other party giving rise to the risk of harm">
              <label class="govuk-label govuk-checkboxes__label" for="scoping-evidence-1">
                A finding of fact in the family courts of domestic abuse by the other party giving rise to the risk of harm
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="scoping-evidence-2" name="scoping-evidence" type="checkbox" value="Client referred to a Multi-Agency Risk Assessment Conference (MARAC) and a plan's been put in place to protect them from violence or abuse by the other party">
              <label class="govuk-label govuk-checkboxes__label" for="scoping-evidence-2">
                Client referred to a Multi-Agency Risk Assessment Conference (MARAC) and a plan's been put in place to protect them from violence or abuse by the other party
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="scoping-evidence-3" name="scoping-evidence" type="checkbox" value="Evidence of economic or financial abuse">
              <label class="govuk-label govuk-checkboxes__label" for="scoping-evidence-3">
                Evidence of economic or financial abuse
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="scoping-evidence-4" name="scoping-evidence" type="checkbox" value="Evidence that the perpetrator is, or has been under investigation for a domestic abuse offence">
              <label class="govuk-label govuk-checkboxes__label" for="scoping-evidence-4">
                Evidence that the perpetrator is, or has been under investigation for a domestic abuse offence
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="scoping-evidence-5" name="scoping-evidence" type="checkbox" value="Health professional report or letter">
              <label class="govuk-label govuk-checkboxes__label" for="scoping-evidence-5">
                Health professional report or letter
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="scoping-evidence-6" name="scoping-evidence" type="checkbox" value="Injunction or protective order">
              <label class="govuk-label govuk-checkboxes__label" for="scoping-evidence-6">
                Injunction or protective order
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="scoping-evidence-7" name="scoping-evidence" type="checkbox" value="Letter from a local authority or housing association confirming that the individual was assessed as being or at risk of being a victim of domestic abuse">
              <label class="govuk-label govuk-checkboxes__label" for="scoping-evidence-7">
                Letter from a local authority or housing association confirming that the individual was assessed as being or at risk of domestic abuse
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="scoping-evidence-8" name="scoping-evidence" type="checkbox" value="Letter from an Independent Domestic Violence Advisor (IDVA) or Independent Sexual Violence Advisor (ISVA)">
              <label class="govuk-label govuk-checkboxes__label" for="scoping-evidence-8">
                Letter from an Independent Domestic Violence Advisor (IDVA) or Independent Sexual Violence Advisor (ISVA)
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="scoping-evidence-9" name="scoping-evidence" type="checkbox" value="Letter from an organisation providing domestic abuse support services">
              <label class="govuk-label govuk-checkboxes__label" for="scoping-evidence-9">
                Letter from an organisation providing domestic abuse support services
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="scoping-evidence-10" name="scoping-evidence" type="checkbox" value="Letter from Secretary of State for the Home Department confirming individual has been granted leave to remain in the United Kingdom under paragraph 289B of the Immigration Rules">
              <label class="govuk-label govuk-checkboxes__label" for="scoping-evidence-10">
                Letter from Secretary of State for the Home Department confirming individual has been granted leave to remain in the United Kingdom under paragraph 289B of the Immigration Rules
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="scoping-evidence-11" name="scoping-evidence" type="checkbox" value="Letter or copy of assessment from a public body or an expert report for the benefit of a court or tribunal confirming that the individual was assessed as being or at risk of domestic abuse">
              <label class="govuk-label govuk-checkboxes__label" for="scoping-evidence-11">
                Letter or copy of assessment from a public body or an expert report for the benefit of a court or tribunal confirming that the individual was assessed as being or at risk of domestic abuse
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="scoping-evidence-12" name="scoping-evidence" type="checkbox" value="Letter or report from a domestic abuse support organisation related to a victim of domestic abuse refusal to a refuge">
              <label class="govuk-label govuk-checkboxes__label" for="scoping-evidence-12">
                Letter or report from a domestic abuse support organisation related to a victim of domestic abuse refusal to a refuge
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="scoping-evidence-13" name="scoping-evidence" type="checkbox" value="On-going criminal proceedings for a domestic abuse offence by the other party towards the applicant">
              <label class="govuk-label govuk-checkboxes__label" for="scoping-evidence-13">
                On-going criminal proceedings for a domestic abuse offence by the other party towards the applicant
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="scoping-evidence-14" name="scoping-evidence" type="checkbox" value="Referral to domestic abuse support service">
              <label class="govuk-label govuk-checkboxes__label" for="scoping-evidence-14">
                Referral to domestic abuse support service
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="scoping-evidence-15" name="scoping-evidence" type="checkbox" value="Relevant conviction, caution or bind over">
              <label class="govuk-label govuk-checkboxes__label" for="scoping-evidence-15">
                Relevant conviction, caution or bind over
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="scoping-evidence-16" name="scoping-evidence" type="checkbox" value="Undertaking from the respondent">
              <label class="govuk-label govuk-checkboxes__label" for="scoping-evidence-16">
                Undertaking from the respondent
              </label>
            </div>

          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              Child abuse (Schedule 2) 
            </h2>
          </legend>

          <div class="govuk-checkboxes" data-module="govuk-checkboxes">

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="scoping-evidence-17" name="scoping-evidence" type="checkbox" value="Application for injunction or protective order">
                <label class="govuk-label govuk-checkboxes__label" for="scoping-evidence-17">
                  Application for injunction or protective order
                </label>
              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="scoping-evidence-18" name="scoping-evidence" type="checkbox" value="Child Protection plan in place">
                <label class="govuk-label govuk-checkboxes__label" for="scoping-evidence-18">
                  Child Protection plan in place
                </label>
              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="scoping-evidence-19" name="scoping-evidence" type="checkbox" value="Conviction, caution or bind over for child abuse offence">
                <label class="govuk-label govuk-checkboxes__label" for="scoping-evidence-19">
                  Conviction, caution or bind over for child abuse offence
                </label>
              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="scoping-evidence-20" name="scoping-evidence" type="checkbox" value="Finding of fact of child abuse">
                <label class="govuk-label govuk-checkboxes__label" for="scoping-evidence-20">
                  Finding of fact of child abuse
                </label>
              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="scoping-evidence-21" name="scoping-evidence" type="checkbox" value="Ongoing criminal proceedings for child abuse">
                <label class="govuk-label govuk-checkboxes__label" for="scoping-evidence-21">
                  Ongoing criminal proceedings for child abuse
                </label>
              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="scoping-evidence-22" name="scoping-evidence" type="checkbox" value="Police bail">
                <label class="govuk-label govuk-checkboxes__label" for="scoping-evidence-22">
                  Police bail
                </label>
              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="scoping-evidence-23" name="scoping-evidence" type="checkbox" value="Prohibited steps in addition to protective order or injunction">
                <label class="govuk-label govuk-checkboxes__label" for="scoping-evidence-23">
                  Prohibited steps in addition to protective order or injunction
                </label>
              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="scoping-evidence-24" name="scoping-evidence" type="checkbox" value="Social Services letter">
                <label class="govuk-label govuk-checkboxes__label" for="scoping-evidence-24">
                  Social Services letter
                </label>
              </div>

            </div>
          </fieldset>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              Cases where evidence is not required
            </h2>
          </legend>

          <div class="govuk-checkboxes" data-module="govuk-checkboxes">

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="scoping-evidence-25" name="scoping-evidence" type="checkbox" value="Client is under 18 at time of signing">
                <label class="govuk-label govuk-checkboxes__label" for="scoping-evidence-25">
                  Client is under 18 at time of signing
                </label>
              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="scoping-evidence-26" name="scoping-evidence" type="checkbox" value="Child Protection plan in place">
                <label class="govuk-label govuk-checkboxes__label" for="scoping-evidence-26">
                  Parent or person with parental responsibility is making an application for a Special Guardianship Order
                </label>
              </div>
            </div>
          </fieldset>
      </div> -->

          <!-- <h2 class="govuk-heading-m">
            Domestic or child abuse
          </h2> -->

          <div class="govuk-radios" data-module="govuk-radios">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="scoping-evidence-1" name="scoping-evidence" type="radio" value="Evidence of domestic abuse (Schedule 1)">
              <label class="govuk-label govuk-radios__label" for="scoping-evidence-1">
                Evidence of domestic abuse (Schedule 1)
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="scoping-evidence-2" name="scoping-evidence" type="radio" value="Evidence of child abuse (Schedule 2)">
              <label class="govuk-label govuk-radios__label" for="scoping-evidence-2">
                Evidence of child abuse (Schedule 2)
              </label>
            </div>
          
          <!-- <h2 class="govuk-heading-m govuk-!-margin-top-5">
            Cases where evidence is not required
          </h2> -->

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="scoping-evidence-3" name="scoping-evidence" type="radio" value="Client is under 18 at time of signing">
              <label class="govuk-label govuk-radios__label" for="scoping-evidence-3">
                Client is under 18 at time of signing
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="scoping-evidence-4" name="scoping-evidence" type="radio" value="Client is a parent, person with parental responsibility, or prospective special guardian involved in a Special Guardianship Order application">
              <label class="govuk-label govuk-radios__label" for="scoping-evidence-4">
                Client is a parent, person with parental responsibility, or prospective special guardian involved in a Special Guardianship Order application
              </label>
            </div>
          
          </div>

          <div class="govuk-form-group">
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__divider">or</div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="scoping-evidence-5" name="scoping-evidence" type="radio" value="None of these">
                <label class="govuk-label govuk-radios__label" for="scoping-evidence-5">
                  None of these
                </label>
              </div>
            </div>
          </div>

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

    </div>
  </div>

{% endblock %}
