{% extends "layouts/main-v2.html" %}

{% block pageTitle %}
  What type of family law is it? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form method="post" action="family-public-parental-answer">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <span class="govuk-caption-l">Client and case details</span>
              <h1 class="govuk-fieldset__heading">
                 Does the client have parental responsibility for the child in these proceedings?
              </h1>
            </legend>

            <!-- <p class="govuk-body">You automatically have <a href="https://www.gov.uk/parental-rights-responsibilities/who-has-parental-responsibility">parental responsibility (opens in new window or tab)</a> if you give birth to the child (known as the birth mother). Fathers or second female parents might have automatic parental responsibility depending on their circumstances.</p> -->

            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="parental-1" name="parental" type="radio" value="Yes">
                <label class="govuk-label govuk-radios__label" for="parental-1">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="parental-2" name="parental" type="radio" value="No">
                <label class="govuk-label govuk-radios__label" for="parental-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

    </div>
  </div>

{% endblock %}
