{% extends "layouts/main-v2.html" %}

{% block pageTitle %}
  What type of family law is it? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form method="post" action="family-private-non-means-question-answer">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <span class="govuk-caption-l">Client and case details</span>
              <h1 class="govuk-fieldset__heading">
                 Does your client need advice about transitional EU arrangements or an international maintenance agreement?
              </h1>
            </legend>

            <p class="govuk-body">The following must all apply:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>This case relates to a maintenance decision under Article 56(1) of the EU Maintenance Regulation or Article 10 of the 2007 Hague Convention.</li>
              <li>My client is the person entitled to receive maintenance (the creditor), not the person who must pay it.</li>
              <li>The child or young person is under 21 years old.</li>
            </ul>

            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="family-private-non-means-1" name="family-private-non-means" type="radio" value="Yes">
                <label class="govuk-label govuk-radios__label" for="family-private-non-means-1">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="family-private-non-means-2" name="family-private-non-means" type="radio" value="No">
                <label class="govuk-label govuk-radios__label" for="family-private-non-means-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

    </div>
  </div>

{% endblock %}
