{% extends "layouts/main-v2.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form method="post" action="./legal-aid-before-answer">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <span class="govuk-caption-l">Client and case details</span>
              <h1 class="govuk-fieldset__heading">
                 Has your client accessed legal aid before?
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="legal-aid-before-yes1" name="legal-aid-before" type="radio" value="Yes, about the same matter">
                <label class="govuk-label govuk-radios__label" for="legal-aid-before-yes1">
                  Yes, about the same matter
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="legal-aid-before-yes2" name="legal-aid-before" type="radio" value="Yes, about a different matter">
                <label class="govuk-label govuk-radios__label" for="legal-aid-before-yes2">
                  Yes, about a different matter
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="legal-aid-before-no" name="legal-aid-before" type="radio" value="No">
                <label class="govuk-label govuk-radios__label" for="legal-aid-before-no">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
