{% extends "layouts/main-v2.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" method="post" action="./client-details">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <span class="govuk-caption-l">Client and case details</span>
              <h1 class="govuk-fieldset__heading">
                 Do you have your client's legal aid number?
              </h1>
            </legend>
            <div id="laa-id-hint" class="govuk-hint">
              The legal aid number is a new way of identifying people who have accessed legal aid. If they have one, we can quickly access their personal details.
            </div>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="laa-id-yes" name="laa-id" type="radio" data-aria-controls="conditional-laa-id">
                <label class="govuk-label govuk-radios__label" for="laa-id-yes">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-laa-id">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="laa-id">
                    Legal aid number
                  </label>
                  <input class="govuk-input govuk-!-width-one-third" id="laa-id-number" name="laa-id-number">
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="laa-id-no" name="laa-id" type="radio" value="No">
                <label class="govuk-label govuk-radios__label" for="laa-id-no">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

    </div>
  </div>

{% endblock %}
