{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form method="post" action="./select-office">

        <h2 class="govuk-heading-l">
            Prototype setup
        </h2>

        <!-- <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">
                 Category of law (to set matter type questions)
              </h2>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="setup-category-1" name="setup-category" type="radio" value="Public law">
                <label class="govuk-label govuk-radios__label" for="setup-category-1">
                  Public law
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="setup-category-2" name="setup-category" type="radio" value="Family">
                <label class="govuk-label govuk-radios__label" for="setup-category-2">
                  Family
                </label>
              </div>
            </div>
          </fieldset>
        </div> -->

        <h3 class="govuk-heading-m">Scenarios</h3>

        <h4 class="govuk-heading-s govuk-!-margin-bottom-2">New case</h4>
        <p>Click 'Record a new case' button. Some details are hardcoded such as; client address and the client name as Joe Bloggs.</p>

        <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Save and return</h4>
        <p>Select Joe Bloggs from the 'In progress' tab of the case list to return to a task list which is partially complete.</p>

        <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Viewing a recorded case</h4>
        <p>Select Keisha Brown from the 'Recorded' tab of the case list.</p>

        <!-- <h4 class="govuk-heading-s govuk-!-margin-bottom-2">An ineligible client</h4>
        <p>Enter the client name Jane Smith for the ineligible journey.</p> -->

        <button type="submit" class="govuk-button govuk-button--start govuk-!-margin-top-4" data-module="govuk-button">
          Start prototype
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </button>

      </form>

    </div>
  </div>

{% endblock %}
