{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-l">
      Record civil controlled work prototypes
    </h1>

    <div class="govuk-!-padding-bottom-6"></div>


    <!-- Version 16 -->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title govuk-!-font-size-27">
          Version 16
          {{govukTag({
            text: "In progress",
            classes: "govuk-tag--green"
          })}}
        </h2>
        <p class="govuk-!-margin-top-1 govuk-!-margin-bottom-0">Aug 2026</p>
      </div>
      <div class="govuk-summary-card__content">
        <p class="govuk-body">Iterations based on beta round 3 research and other backlog items:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Iterations to declarations based on standardised declarations produced by Service Development</li>
        </ul>
        <p><a href="v16/ccq-result-ineligible" class="govuk-link govuk-!-margin-bottom-4">Ineligible client journey (starting at CCQ results page)</a></p>

        <a href="v16/setup" class="govuk-button govuk-!-margin-bottom-4">View prototype</a>

      </div>
    </div>


    <!-- Version 15 -->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title govuk-!-font-size-27">
          Version 15
        </h2>
        <p class="govuk-!-margin-top-1 govuk-!-margin-bottom-0">Jul 2026</p>
      </div>
      <div class="govuk-summary-card__content">
        <p class="govuk-body">Iterations based on beta round 3 research and other backlog items:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Add save and return option to evidence and declaration screens</li>
          <li>Split evidence of expenditure and capital into two screens</li>
          <li>Combined income and capital links on task list as splitting won't be possible with CCQ for a while</li>
        </ul>
        <p class="govuk-body">New features:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Added way for provider to select the office they are working from and which office cases are assigned to</li>
          
        </ul>
        <p><a href="v15/ccq-result-ineligible" class="govuk-link govuk-!-margin-bottom-4">Ineligible client journey (starting at CCQ results page)</a></p>

        <a href="v15/setup" class="govuk-button govuk-!-margin-bottom-4">View prototype</a>

      </div>
    </div>

    <!-- MVP -->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title govuk-!-font-size-27">
          MVP
        </h2>
        <p class="govuk-!-margin-top-1 govuk-!-margin-bottom-0">Jul 2026</p>
      </div>
      <div class="govuk-summary-card__content">
        <p class="govuk-body">Fixed (no more changes) on X date</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>XXX</li>
        </ul>
        <p><a href="MVP/ccq-result-ineligible" class="govuk-link govuk-!-margin-bottom-4">Ineligible client journey (starting at CCQ results page)</a></p>
        <a href="MVP/setup" class="govuk-button govuk-!-margin-bottom-4">View prototype</a>

      </div>
    </div>

    <!-- Version 14 -->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title govuk-!-font-size-27">
          Version 14
        </h2>
        <p class="govuk-!-margin-top-1 govuk-!-margin-bottom-0">Jun 2026</p>
      </div>
      <div class="govuk-summary-card__content">
        <p class="govuk-body">Routing (scoping) question iterations:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Moved the ECF question to the start again. Moved private v public question next</li>
          <li>Added a new question cover the non-means scenario for family law (international maintenance question)</li>
          <li>Added a new question to determine if the case is about domestic abuse</li>
          <li>Simplified the LASPO evidence question, removing the list of checkboxes with the types of evidence</li>
          <li>Removed the 'type of legal service' question</li>
        </ul>
        <p class="govuk-body">Ineligible clients:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><p><a href="v14/ccq-result-ineligible" class="govuk-link govuk-!-margin-bottom-4">Jump to CCQ results page - ineligible client</a></p></li>
        </ul>
        <a href="v14/setup" class="govuk-button govuk-!-margin-bottom-4">View prototype</a>

      </div>
    </div>

    <!-- Version 13 -->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title govuk-!-font-size-27">
          Version 13 
        </h2>
        <p class="govuk-!-margin-top-1 govuk-!-margin-bottom-0">Apr 2026</p>
      </div>
      <div class="govuk-summary-card__content">
        <p class="govuk-body">CW1:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Scoping questions from CW1 page 15 added (determining whether scoping evidence is required and merits declarations for family help lower)</li>
        </ul>
        <p class="govuk-body">CW1-PL:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>CW1PL public law scoping questions added</li>
          <li>'Light' version of task list and declaration added for this route</li>
        </ul>
        <a href="v13/setup" class="govuk-button govuk-!-margin-bottom-4">View prototype</a>

      </div>
    </div>


    <!-- Version 12 -->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title govuk-!-font-size-27">
          Version 12 
        </h2>
        <p class="govuk-!-margin-top-1 govuk-!-margin-bottom-0">
        <strong class="govuk-tag govuk-tag--red">
          Untested
        </strong>
      </p>
        <p class="govuk-!-margin-top-1 govuk-!-margin-bottom-0">Mar 2026</p>
      </div>
      <div class="govuk-summary-card__content">
        <ul class="govuk-list govuk-list--bullet">
          <li>Iterations to ineligible journey to include Save to pdf options at end points of the journey</li>
          <li>Added ECF dropout screen</li>
          <li>Added question to determine if a client has a home address</li>  
          <li>Added questions to determine if they have evidence and if not, the reason for not having it</li>  
          <li>Made evidence section checklists not dynamic for MVP</li>      
          <li>Removed question asking for the clients legal aid number (concept of a client number not available for MVP)</li>
          <li>Removed context-setting start page from flow</li>
          <li>Removed 'last name at birth' field from client details</li>
        
        </ul>

        <a href="v12/setup" class="govuk-button govuk-!-margin-bottom-4">View prototype</a>

      </div>
    </div>

    <!-- Version 11 -->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title govuk-!-font-size-27">
          Version 11
        </h2>
        <p class="govuk-!-margin-top-1 govuk-!-margin-bottom-0">Feb 2026</p>
      </div>
      <div class="govuk-summary-card__content">
        <p class="govuk-body">Client declaration:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>New version of client declaration closer aligned to how Civil Apply works</li>
          <li>The print button produces a copy of all answers, plus a declaration, with space for the client to sign at the bottom</li>
        </ul>
        <p class="govuk-body">Ineligible journey</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Added an ineligible journey (an iterated CCQ results page and onwards journey) for clients who do not meet the financial criteria</li>
          <li><p><a href="v11/ccq-result-ineligible" class="govuk-link govuk-!-margin-bottom-4">Jump to CCQ results page - ineligible client</a></p></li>
        </ul>
        <p class="govuk-body">Additional changes:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Content change: Replaced the word 'submit' with 'record' as the final action on the tasklist. Submit added to feelings of this being an application that LAA would check.</li>
        </ul>

        <a href="v11/setup" class="govuk-button govuk-!-margin-bottom-4">View prototype</a>
        
      </div>
    </div>

    <!-- Version 10 -->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title govuk-!-font-size-27">
          Version 10
        </h2>
        <p class="govuk-!-margin-top-1 govuk-!-margin-bottom-0">Nov 2025 - Jan 2026</p>
      </div>
      <div class="govuk-summary-card__content">
        <p class="govuk-body">End of Alpha iterations, based on last round of UR:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Removed matter type questions</li>
          <li>Added parts of the journey that were in Figma: evidence checklists, declaration and confirmation page</li>
          <li>Updates to task list so that it updates after each section</li>
          <li>Routed case list back into journey and updated design of tabs, header and added search</li>
          <li>Added a case view of recorded cases, with 3 tabs matching the task list sections</li>
        </ul>
        <a href="v10/setup" class="govuk-button govuk-!-margin-bottom-4">View prototype</a>
      </div>
    </div>

    <!-- Version 9 -->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title govuk-!-font-size-27">
          Version 9
        </h2>
        <p class="govuk-!-margin-top-1 govuk-!-margin-bottom-0">24 Oct 2025</p>
      </div>
      <div class="govuk-summary-card__content">
        <p class="govuk-body">Changes to coded prototype:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Start of journey stripped back to just this service, removing routing to certificated work</li>
          <li>2 'matter type' questions added, for potential future use in billing and also desired by Ops for us to capture</li>
          <li>Have they had legal aid before - question split into 2 questions and redesigned to cover yes but on a different matter</li>
        </ul>
        <p class="govuk-body">Changes to <a href="https://www.figma.com/proto/ZDxaWkO2UzaYq1BZBFtT7J/LAA---Means-and-Match---Alpha-design-work?page-id=2895%3A25881&node-id=2895-26045&viewport=214%2C277%2C0.09&t=fQWibqJurq7wSbOL-1&scaling=min-zoom&content-scaling=fixed&starting-point-node-id=2895%3A26045">Figma prototype</a> (evidence and declaration sections):</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Content tweaks on evidence checklists</li>
          <li>Added line on declaration to state that is the date they can bill from</li>
          <li>Content changes on the confirmation screen to further explain that this is not prior authorisation</li>
        </ul>
        <a href="v9/setup" class="govuk-button govuk-!-margin-bottom-4">View prototype</a>
      </div>
    </div>

    <!-- Version 8 -->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title govuk-!-font-size-27">
          Version 8
        </h2>
        <p class="govuk-!-margin-top-1 govuk-!-margin-bottom-0">26 Sep 2025</p>
      </div>
      <div class="govuk-summary-card__content">
        <p class="govuk-body">First version of a coded prototype, designed to further test a digitised controlled work journey for providers.</p>
        <p class="govuk-body">Limitations:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>This coded prototype only covers journeys up to the end of the client details section, including a first view of the tasklist</li>
          <li>The means assessment section and questions is covered by a link out to CCQ for this version</li>
          <li>Remaining sections of the task list (evidence and declarations) are being tested in a <a href="https://www.figma.com/proto/ZDxaWkO2UzaYq1BZBFtT7J/LAA---Means-and-Match---Alpha-design-work?page-id=2693%3A19288&node-id=2705-2625&viewport=108%2C205%2C0.12&t=bFDZmuxwoLhq09wa-1&scaling=min-zoom&content-scaling=fixed&starting-point-node-id=2705%3A2625">Figma prototype</a> with three varations</li>
        </ul>
        <a href="v8/case-list" class="govuk-button govuk-!-margin-bottom-4">View prototype</a>
      </div>
    </div>

  
  <h2 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-margin-bottom-6">
    Early prototypes and concept tests
  </h2>

  <!-- Version 7 -->
  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h3 class="govuk-summary-card__title">
        Version 7
      </h3>
    </div>
    <div class="govuk-summary-card__content">
      <p class="govuk-hint">Client research</p>
      <p class="govuk-body">Click through prototype to test clients undertaking a means assessment themselves.</p>
      <p><a href="https://www.figma.com/proto/ZDxaWkO2UzaYq1BZBFtT7J/LAA---Means-and-Match---Alpha-design-work?page-id=2014%3A41515&node-id=2179-11043&viewport=5076%2C176%2C0.91&t=JacMimYv3Q1YKdNX-1&scaling=min-zoom&content-scaling=fixed&starting-point-node-id=2179%3A11043" class="govuk-link govuk-!-margin-bottom-4">View figma prototype</a></p>
    </div>
  </div>

  <!-- Version 6 -->
  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h3 class="govuk-summary-card__title">
        Version 6       
      </h3> 
      <p class="govuk-!-margin-top-1 govuk-!-margin-bottom-0">
        <strong class="govuk-tag govuk-tag--red">
          Untested
        </strong>
      </p>
    </div>
    <div class="govuk-summary-card__content">
      <p class="govuk-hint">Provider research</p>
      <p class="govuk-body">Click through prototype to test the client front-door (client doing their own scope and means assessment) with providers.</p>
      <p><a href="https://www.figma.com/proto/ZDxaWkO2UzaYq1BZBFtT7J/LAA---Means-and-Match---Alpha-design-work?page-id=1450%3A5533&node-id=1450-5539&viewport=-974%2C296%2C0.68&t=wvsKqnNtPxdCVTxV-1&scaling=min-zoom&content-scaling=fixed&starting-point-node-id=1450%3A5539" class="govuk-link govuk-!-margin-bottom-4">View figma prototype</a></p>
    </div>
  </div>

  <!-- Version 5 -->
  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h3 class="govuk-summary-card__title">
        Version 5       
      </h3> 
    </div>
    <div class="govuk-summary-card__content">
      <p class="govuk-hint">Client research</p>
      <p class="govuk-body">Click through prototype to test our riskiest assumption: that clients can self scope, which is a prerequesite to doing a means assessment with the LAA/online.</p>
      <p><a href="https://www.figma.com/proto/ZDxaWkO2UzaYq1BZBFtT7J/LAA---Means-and-Match---Alpha-design-work?page-id=1257%3A9147&node-id=1257-9153&viewport=1958%2C115%2C0.96&t=WgylkG7DtFbMnF38-1&scaling=min-zoom&content-scaling=fixed&starting-point-node-id=1257%3A9153" class="govuk-link govuk-!-margin-bottom-4">View figma prototype</a></p>
    </div>
  </div>

  <!-- Version 4 -->
  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h3 class="govuk-summary-card__title">
        Version 4
      </h3> 
    </div>
    <div class="govuk-summary-card__content">
      <p class="govuk-hint">Provider research</p>
      <p class="govuk-body">Click through prototype to test a provider-facing digital controlled work service to escalate complex means assessments and automate eligibility checks.</p>
      <p><a href="https://www.figma.com/proto/ZDxaWkO2UzaYq1BZBFtT7J/LAA---Means-and-Match---Alpha-design-work?page-id=955%3A3803&node-id=955-3809&viewport=641%2C-9%2C1.1&t=ZDXz1mJc7jio2Lvo-1&scaling=min-zoom&content-scaling=fixed&starting-point-node-id=955%3A3809" class="govuk-link govuk-!-margin-bottom-4">View figma prototype</a></p>
    </div>
  </div>

  <!-- Version 3 -->
  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h3 class="govuk-summary-card__title">
        Version 3
      </h3> 
    </div>
    <div class="govuk-summary-card__content">
      <p class="govuk-hint">Mediator research</p>
      <p class="govuk-body">Key artefacts to test a provider-facing digital controlled work service to: escalate complex means assessments and automate eligibility checks.</p>
      <p><a href="https://www.figma.com/proto/ZDxaWkO2UzaYq1BZBFtT7J/LAA---Means-and-Match---Alpha-design-work?page-id=778%3A3477&node-id=778-3483&viewport=-1720%2C228%2C1.02&t=WGgzyiY4V6kOBrqM-1&scaling=min-zoom&content-scaling=fixed&starting-point-node-id=778%3A3483" class="govuk-link govuk-!-margin-bottom-4">View figma prototype</a></p>
    </div>
  </div>

  <!-- Version 2 -->
  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h3 class="govuk-summary-card__title">
        Version 2
      </h3> 
      <p class="govuk-!-margin-top-1 govuk-!-margin-bottom-0">
        <strong class="govuk-tag govuk-tag--red">
          Untested
        </strong>
      </p>
    </div>
    <div class="govuk-summary-card__content">
      <p class="govuk-hint">Client research</p>
      <p class="govuk-body">Iteration on the client front-door, focusing on LAA just doing the financial/means part.</p>
      <p><a href="https://www.figma.com/proto/ZDxaWkO2UzaYq1BZBFtT7J/LAA---Means-and-Match---Alpha-design-work?page-id=753%3A103&node-id=753-109&viewport=-1570%2C202%2C0.89&t=scMwwyga2aXtIaB1-1&scaling=min-zoom&content-scaling=fixed&starting-point-node-id=753%3A109" class="govuk-link govuk-!-margin-bottom-4">View figma prototype</a></p>
    </div>
  </div>

  <!-- Version 1 -->
  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h3 class="govuk-summary-card__title">
        Version 1
      </h3> 
    </div>
    <div class="govuk-summary-card__content">
      <p class="govuk-hint">Client research</p>
      <p class="govuk-body">A series of artefacts to test key hypotheses and assumptions around a client front-door.</p>
      <p><a href="https://www.figma.com/proto/ZDxaWkO2UzaYq1BZBFtT7J/LAA---Means-and-Match---Alpha-design-work?page-id=1%3A3&node-id=334-1005&viewport=-1969%2C309%2C1.13&t=cZ5wvJD81qHCeJeb-1&scaling=min-zoom&content-scaling=fixed&starting-point-node-id=334%3A1005" class="govuk-link govuk-!-margin-bottom-4">View figma prototype</a></p>
    </div>
  </div>




{% endblock %}
